.forecast-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.forecast-list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  height: 48px;
  padding: 0 12px;
  background-color: #96969611;
}

.forecast-list__item-day {
  flex: 1;
}

.forecast-list > .forecast-list__item:last-child {
  margin-bottom: 0;
}

.forecast-list__item-icon {
  margin-right: 32px;
  height: 34px;
  width: 34px;
}

.forecast-list__item-temperatures > span:last-child {
  color: rgba(216, 216, 216, 0.7);
}