.current-weather-widget {
  margin-top: 24px;
  margin-bottom: 48px;
  text-align: center;
}

.current-weather-widget__wrapper {
  flex: 1;
}

.current-weather-widget__spinner {
  margin: 30vh auto 0 auto;
  width: 80px;
  height: 80px;
}

.current-weather-widget__main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.current-weather-widget__main {
  margin: 0;
  font-size: 64px;
}

.current-weather-widget__main-relatives {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.current-weather-widget__main-relatives > span:last-child {
  padding-top: 2px;
  color: rgba(216, 216, 216, 0.7);
}

.current-weather-widget__main-icon {
  width: 48px;
  height: 48px;
}

.current-weather-widget__description {
  margin: 8px;
  font-size: 18px;
}

.secondary-current-weather-widget {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.secondary-current-weather-widget__wind {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32%;
  font-size: 12px;
  border-left: 1px solid rgba(216, 216, 216, 0.7);
  border-right: 1px solid rgba(216, 216, 216, 0.7);
}

.secondary-current-weather-widget__humidity,
.secondary-current-weather-widget__sunset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32%;
  font-size: 12px;
}

.secondary-current-weather-widget__wind > .icon-wind,
.secondary-current-weather-widget__humidity > .icon-humidity,
.secondary-current-weather-widget__sunset > .icon-sunset {
  margin-bottom: 4px;
  width: 16px;
  height: 16px;
}